.message-list-container {
    width: 80%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 250px);
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid;
}

.message-container {
    width: 70%;
    min-height: 45px;
    height: auto;
    margin: 15px;
    background-color: aliceblue;
    border: 1px solid;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    position: relative;

    time {
        position: relative;
        left: 0;
        top: 0;
        margin-right: 20px;
    }

    &.message-own {
        float: right;
        background-color: greenyellow;

        .user-avatar {
            display: none;
        }
    }

    .message-like-icon {
        visibility: visible;
        position: absolute;
        top: calc(100% - 20px);
        right: 5px;
        cursor: pointer;

        &.like-red-icon {
            color: red;
        }
    }
    

    .message-remove-icon, .message-edit-icon {
        visibility: hidden;
    }
}

.message-own .message-remove-icon {
    color: red;
    position: absolute;
    right: 8px;
    top: 0;
    cursor: pointer;
    visibility: visible;
}

.message-own .message-edit-icon {
    position: absolute;
    top: calc(100% - 20px);
    right: 8px;
    cursor: pointer;
    visibility: visible;
    display: none;
}

.message-own:hover .message-edit-icon {
    display: block;
}

.message-own .message-like-icon {
    visibility: hidden;
}

.message-spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-hidden {
    visibility: hidden;
    width: 10px;
}

.user-avatar {
    margin: 0 30px;

    .message-avatar {
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
}

.mesage-text {
    width: auto;
}



