.modal-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;

    .title {
        text-align: center;
        margin-top: 5px;
    }

    .message-input-container {
        display: flex;
        flex-direction: column;
        height: auto;

        textarea {
            height: 150px;
        }
        button {
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
}

.modal {
    width: 650px;
    height: auto;
    position: fixed;
    top: 60px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: #000;
}





.hide {
    display: none;
}