header {
    width: 100%;
    height: 80px;
    background-color: rgb(196, 196, 196); 
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.chat-details-area {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.time-area {
    margin-right: 50px;
    width: 50%;

    span {
        float: right;
    }
}