.message-input-container {
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    textarea {
        width: 80%;
        margin-left: 25px;
        margin-right: 30px;
        height: 100px;
        resize: none;
    }

    button {
        margin: 0 25px;
        width: 120px;
        height: 45px;
        background-color: aliceblue;

        &:hover {
            cursor: pointer;
        }
    }
}